# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
IvanTheTerriblesBlog::Application.config.secret_token = 'Cb8e81d4786136f60d4c78dfd5fa40726e915031d4a28ab22f947f7c7a74368d6c081b224992c299e095b9b094da14fb176436a5ea1c99f3927385644343f71a'
