// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post h2 {
  background-color: #FFD300
}
.comment {
  padding-left: 20px
}
.reply {
  padding-left: 30px
}
.hide {
  display: none
}
